<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://function-mcom-scan-dummy-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ae80baed-802a-49ca-86c6-632c57065c15/resourceGroups/rg-scan-prod/providers/Microsoft.Web/sites/function-mcom-scan-dummy-prod</ResourceId>
    <UserName>$function-mcom-scan-dummy-prod</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://function-mcom-scan-dummy-prod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>