################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.testlog
/src/MCOM.Functions/Properties
