################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.testlog
*.dtbcache.v2
/src/MCOM.Functions/Properties
/.vs/MCOM/v17
/.vs/MCOM/FileContentIndex
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__blobstorage__/*
__queuestorage__/*
.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
__azurite_db_blob_extent__.json
__azurite_db_blob__.json
