################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.testlog
*.dtbcache.v2
/src/MCOM.Functions/Properties
/.vs/MCOM/v17
/.vs/MCOM/FileContentIndex
