/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
.CDbOrEAEj_WbsAfOVKQL {
  color: "[theme: bodyText, default: #323130]";
  display: inline-block;
  padding-inline-start: 26px;
}

.rVtwvFjPPs5rfK5wnt__ {
  color: "[theme: disabledBodyText, default: #323130]";
  display: inline-block;
  padding-inline-start: 26px;
}

.QJUL0CljAyk4iNMbTGDp {
  font-weight: bold;
}

.G8x1_fs6dmAZgYPdNA54 {
  color: "[theme: bodyText, default: #323130]";
  margin-inline-start: 4px;
}

.yEATkHG6k4bRmsetnfjm {
  color: "[theme: disabledBodyText, default: #323130]";
  margin-inline-start: 4px;
}

.lrpvuaSlerlDJS10BMxO {
  font-weight: bold;
}

.NJG5Z6fn4FjiBgaZKljq {
  height: 48px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.YXvq4ZVK2y_nIAi5MGIl {
  height: 48px;
  line-height: 48px;
}

.L4MHHq13mGoumrc3VnWQ {
  display: flex;
  align-items: center;
  width: 100%;
}

.TJP_Ezcxs9shtOMu79G7 {
  width: 100%;
}

.TJP_Ezcxs9shtOMu79G7 .kPeFAeysBKNTXhqMmpKk > * {
  opacity: 0;
}

.TJP_Ezcxs9shtOMu79G7:hover .kPeFAeysBKNTXhqMmpKk > *, .TJP_Ezcxs9shtOMu79G7:focus .kPeFAeysBKNTXhqMmpKk > *, .TJP_Ezcxs9shtOMu79G7 .kPeFAeysBKNTXhqMmpKk:focus-within > * {
  opacity: 1;
}

.nzJeAqkYIpfZhlNwf62A {
  margin-inline-start: 8px;
  margin-inline-end: 8px;
}