/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
.Cn1DhNFJY7rpsOq1mAUo .PTWshozWbGuQpuazPe9R {
  border-bottom-color: blue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 30px;
}
.Cn1DhNFJY7rpsOq1mAUo .eu4S1AYJi379uQUw8hxP {
  font-size: 18px;
  font-weight: 100;
}