.RGe3vXBMxUdkxtWOkAYS .pGVDn8khtECWTcsfzsgQ {
  align-items: center;
  border-spacing: 0;
  display: flex;
  width: 100%;
}
.RGe3vXBMxUdkxtWOkAYS .pGVDn8khtECWTcsfzsgQ .Lt6ERPXOEMmZCQ_iYjDf {
  flex-grow: 1;
}
.RGe3vXBMxUdkxtWOkAYS .pGVDn8khtECWTcsfzsgQ .fqhf6D3os8gNcB0FELbE {
  text-align: center;
  width: 42px;
}
.RGe3vXBMxUdkxtWOkAYS .pGVDn8khtECWTcsfzsgQ input[type=text] {
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}