<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://function-mcom-provisioning-inttest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e11d810-6f4c-46e5-8d97-08a0dad7714f/resourceGroups/mcom-provisioning-inttest/providers/Microsoft.Web/sites/function-mcom-provisioning-inttest</ResourceId>
    <UserName>$function-mcom-provisioning-inttest</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://function-mcom-provisioning-inttest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>